[submodule "tourism-platform"]
	path = tourism-platform
	url = https://gitlab.com/crimea-travel-platform/tourism-platform.git
[submodule "tourism-backend"]
	path = tourism-backend
	url = https://gitlab.com/crimea-travel-platform/tourism-backend.git
[submodule "tourism-mobile"]
	path = tourism-mobile
	url = https://gitlab.com/crimea-travel-platform/tourism-mobile.git
