[submodule "tourism-platform"]
	path = tourism-platform
	url = git@gitlab.com:xotabeach/tourism-platform.git
[submodule "tourism-backend"]
	path = tourism-backend
	url = git@gitlab.com:xotabeach/tourism-backend.git
[submodule "tourism-mobile"]
	path = tourism-mobile
	url = git@gitlab.com:xotabeach/tourism-mobile.git
